
.btn-primary{
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}

body{
    background-color: rgb(247, 249, 255);
}

.open-sans-inter {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.open-sans-raleway {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.ag-heading {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    color: #252432;
}

.ag-body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(117, 117, 117, 1);
}

.ag-body-strong {
    font-family: 'Inter', sans-serif; /* or the font used in your design */
    font-size: 16px;                  /* same as regular body text */
    font-weight: 600;                 /* semi-bold or strong */
    line-height: 150%;                /* 1.5 or 150% for good readability */
    color: #252432;                   /* or any color from your design system */
}

header {
    background-image: url(../Assets/Hero-bg.png); 
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}


/* nav styles */
.btn-sign-up{
    width: 140px;
    height: 48px;
}

.nav-logo{
    font-weight: 800;
    font-size: 34px;
    color: #4E47FF;
}

nav{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    
}

.cool-dark{
    text-align: center;
    margin: 150px 260px 150px;
}

.cool-dark-design{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}

.btn-stay-focus{
    width: 175px;
    height: 58px;
}



/* main styles - 1*/


.see-action-description {
    color: rgba(37, 36, 50, 0.5); 
    font-size: 24px;
}

.see-action{
    font-size: 42px;
    color: #252432;
}

.cls-img-wc{
    border-radius: 48px;
    width: 400px;
    height: 330px;
}

.div-see-action{
    padding-top: 60px;
    padding-bottom: 60px;
}
.div-see-action-img-wc{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120x;
    gap: 220px;
    justify-content: space-between;
    width: 1140px;
}


/* main styles -2*/
.div-actv-focus-satis{
    background-color: rgba(78, 71, 255, 0.1);
    width: 1140px;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    
}
.div-joined-thous{
    display: flex;
    padding: 40px 142px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    


}
.h4-joined-thous{
    font-size: 38px;
    padding-top: 50px;
    padding-left: 142px;
    padding-right: 142px;
    text-align: center;
}
.div-50k-2m-95{
    font-weight: bold;
    font-size: 80px;
    color: rgba(78, 71, 255, 1);
}

.div-cmn-actv-foucs-satis{
    color: rgba(0, 0, 0, 0.5);
}


/* main section - 3 */

.div-what-users{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    
}

.h4-what-users{
    font-size: 42px;
    color: #252432;
    text-align: center;
}

.div-loved-desiners{
    display: flex;
    gap: 20px;
    
    
}

.div-same{
    border-radius: 14px;
    background-color: rgba(242, 237, 237, 1);
    padding: 24px;
    
}

.div-img-all{
    display: flex;
    gap: 4px;
}

.avater-image{
    border-radius: 9999px;
}

.div-reviewer{

}

.span-date{

}


/* main section - 4 */
.div-ready-focus{
    width: 1140px;
    height: 700px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;

}
.div-items-ready-focus{
`   
}
.h3-ready-focus{
    font-weight:bold;
    font-size: 50px;
    padding-top: 70px;
    padding-left: auto;
    padding-right: auto;
}
.p-ths template{
    color: rgba(0, 0, 0, 0.5);
    padding-left: auto;
    padding-right: auto;
    padding-top: 20px;

}
.btn-get started{
    width: 120px;
    height: 25px;
    color: rgba(255, 255, 255, 1);
    padding-left: auto;
    padding-right: auto;
    padding-top: 192px;

}
.img-webflow{
    border-radius: 48px;
    width: 840px;
    height: 360px;
    padding-left: auto;
    padding-right: auto;
    padding-top: 20px;

}


/* main section - 5 */
.div-let-form-all{
    width: 1140px;
    height: 632px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.div-let-get{
    
    
    
}
.h2-let-get{
    font-weight: bold;
    font-size: 97px;
    padding-top: 200px;
    padding-bottom: 200px;
    
}
.div-form{
    padding-top: 71;
    border-bottom: 71;
    width: 500px;
    height: 490px;
    
}
.form input[type="text"] ,form input[type="text"],form button, form input[type="email"], form textarea{
    height: 60px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 500px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
}


/* footer */
.div-footer-all{
    text-align: center;
    width: 100%;
}
.div-footer{
    padding: 100px 100px;
}

.h1-logo{
    color: #4E47FF;
    font-size: 100px;
    font-weight: 100px;

}
.p-logo{
    padding-left: 360px;
    padding-right: 360px;
}
.div-footer nav ul{
    display: flex;
    text-align: center;
    justify-content:space-around;
    gap: 100px;
    padding-left: 200px;
    padding-right: 160px;
    
}
.div-footer nav ul li{
    list-style: none;
    white-space: nowrap;
    white-space: normal;
    
    
}
.div-footer nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #8987A1;

    
}

