
.btn-primary{
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}

.open-sans-inter {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.open-sans-raleway {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

header {
    background-image: url(../Assets/Hero-bg.png); 
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}


/* nav styles */
.btn-sign-up{
    width: 140px;
    height: 48px;
}

.nav-logo{
    font-weight: 800;
    font-size: 34px;
    color: #4E47FF;
}

nav{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    
}

.cool-dark{
    text-align: center;
    margin: 150px 260px 150px;
}

.cool-dark-design{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}

.btn-stay-focus{
    width: 175px;
    height: 58px;
}



/* main styles - 1*/


.see-action-description {
    color: rgba(37, 36, 50, 0.5); 
    font-size: 24px;
}

.see-action{
    font-size: 42px;
    color: #252432;
}

.cls-img-wc{
    border-radius: 48px;
    width: 400px;
    height: 330px;
}

.div-see-action{
    padding-top: 60px;
    padding-bottom: 60px;
}
.div-see-action-img-wc{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120x;
    gap: 220px;
    justify-content: space-between;
    width: 1140px;
}


/* main styles -2*/
.div-actv-focus-satis{
    background-color: rgba(78, 71, 255, 0.1);
    width: 1140px;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    
}
.div-joined-thous{
    display: flex;
    padding: 40px 142px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    


}
.h4-joined-thous{
    font-size: 38px;
    padding-top: 50px;
    padding-left: 142px;
    padding-right: 142px;
    text-align: center;
}
.div-50k-2m-95{
    font-weight: bold;
    font-size: 80px;
    color: rgba(78, 71, 255, 1);
}

.div-cmn-actv-foucs-satis{
    color: rgba(0, 0, 0, 0.5);
}